@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
  font-weight: 600;
}

.orizzontal-card img{
  width: 50px;
}

.download-button-large{
  background-color: #1ED760;
  width: 270px;
  height: 60px;
  border-radius: 33px;
  font-size: 20px;
  flex-wrap: wrap;
}

body{
  color: white;
  background-color: black;
  height: 100%;
  overflow: hidden; 
}

.mini-card img{
  width: 60px;
  height: 60px;
}

.mini-cards-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini-card{
  width: 60px;
  height: 60px;
}

h1{
  color: white;
}

header{
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

header div{
  display: flex;
  align-items: center;
  gap: 10px;
}

header img{
  height: 40px;
}

.account-icon{
  background-color: #509BF5;
  width: 40px;
  height: 40px;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 16px;
}

nav{
  background-color: #69431E;
  height: 65px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  padding-left: 10px;
}

.orizzontal-card{
  width: 220px;
  height: 50px;
  border: solid 1px black;
  background-color: #534230;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.orizzontal-cards-container{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.middle-big-box .icon{
  height: 40px;
}

a{
  text-decoration: none;
  color: white;
  background-color: #534230;
  border-radius: 33px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}

.squared-card{
  height: 200px;
  width: 200px;
  color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.squared-card img{
  height: 200px;
  width: 200px;
}

.squared-cards-container{
  display: flex;
  gap: 10px;
  min-height: 300px;
  margin-bottom: 10px;
}

.middle-big-box{
  display: flex;
  height: calc(100vh - 80px - 70px);
}

.left-mid{
  width: 90px;
  background-color: #121212;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-mid{
  width: 460px;
  padding: 25px;
  background-color: #121212;
}

.explore{
  height: 35px;
  width: 140px;
  background-color: white;
  color: black;
  border-radius: 33px;
  display: flex;
  align-items: center;
  font-size: 11px;
  justify-content: center;
}

.control-bar input{
  width: 550px;
  appearance: none;
  height: 4px;
  background: #535353;
  border-radius: 2px;
}

.right-footer input {
  appearance: none;
  height: 4px;
  background: #535353;
  border-radius: 2px;
}

.right-footer input::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.control-bar input::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.big-mid{
  width: 100%;
  flex: 1;
  overflow-y: auto;
  background-color: #121212;
  color: white;
}

footer{
  height: 70px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.squared-card span{
  color: #a5a5a5;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons img{
  height: 40px;
}


.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar img {
  position: absolute;
  left: 15px;
}

.search-bar input {
  padding-left: 40px; 
  height: 40px;
  border-radius: 20px;
  background-color: #121212;
  width: 400px;
}

footer img{
  height: 15px;
}