*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: black;
}

h1{
  color: white;
}

header{
  display: flex;
  justify-content: center;
  height: 80px;
}

.middle-big-box{
  height: 508px;
  display: flex;
}

.left-mid{
  width: 90px;
}

.right-mid{
  width: 350px;
}

.big-mid{
  width: 80%;
  background-color: white;
  color: black;
}

footer{
  height: 110px;
  background-color: black;
}