*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: black;
}

h1{
  color: white;
}

header{
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

header img{
  height: 40px;
}

.account-icon{
  background-color: #509BF5;
  width: 60px;
  height: 60px;
  border-radius: 33px;
}

nav{
  background-color: #69431E;
  height: 85px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.orizzontal-card{
  width: 240px;
  height: 60px;
  border: solid 1px black;
}

.orizzontal-cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

a{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 33px;
}

.middle-big-box{
  height: 508px;
  display: flex;
}

.left-mid{
  width: 90px;
}

.right-mid{
  width: 510px;
}

header input{
  height: 60px;
  width: 590px;
  border-radius: 33px;
}

.explore{
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 33px;
}

.big-mid{
  width: 80%;
  background-color: white;
  color: black;
}

footer{
  height: 110px;
  background-color: black;
}

footer img{
  height: 15px;
}